.taco-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
  }
  
  .taco-image-container {
    position: relative;
    display: inline-block;
  }
  
  .taco-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
  }
  
  .taco-discount-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    z-index: 2;
  }
  .tacos-title {
    font-size: 36px; /* Taille de la police */
    font-weight: bold; /* Texte en gras */
    text-align: center; /* Centrer le texte */
    color: #333; /* Couleur du texte */
    margin: 20px 0; /* Espacement au-dessus et en dessous */
    padding: 10px; /* Espacement interne */
    background-color: #f7d794; /* Couleur de fond */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour l'effet visuel */
  }
    